{
  "extends": "airbnb-base",
  "env": {
    "browser": true
  },
  "parserOptions": {
    "sourceType": "script"
  },
  "rules": {
    "strict": ["error", "function"],
    "no-plusplus": "off",
    "no-param-reassign": ["error", { "props": false }],
    "prefer-destructuring": ["error", {"object": true, "array": false}],
    "no-debugger": "off"
  }
}
